body {
    padding: 0;
    margin: 0;
}
.block_empty {
    width: auto;
}

.el-divider__text {
    background-color: rgb(179, 192, 209);
}

.el-main {
    line-height: 0;
}

#editor > div.CodeMirror.cm-s-default.CodeMirror-wrap {

}